// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$primary-color: #582335;
$secondary-color: salmon;
$primary-font-color: white;

body {
    background-color: $primary-color;
    color: $primary-font-color;
}

h2 {
    color: $secondary-color
}
